@media (max-width: 414px) {
  /*Contenedor creado desde el HTML*/
  #root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*Contenedor con toda la información creada en el DOM*/
  .loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(images/loginpicture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .loginInformation {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    align-items: center;
  }

  /*Contenedor con el logo y su título*/
  .headerLogin {
    height: 40%;
    width: 100%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .loginLogo {
    height: 30%;
    width: 28%;
    background-image: url(images/logoblanco.png);
  }

  .logoTitle {
    margin: 0%;
    color: #ffffff;
    font-family: bowlby one SC;
  }

  /*Formulario del login*/
  .form {
    height: 30%;
    width: 73%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .inputMail {
    padding-bottom: 2%;
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: 0px;
    font-family: outfit;
    font-size: medium;
    color: #ffffff;
  }

  /*Agregue icono inputMail*/
  .inputMail::placeholder {
    color: rgba(255, 255, 255, 0.61);
    font: var(--fa-font-solid);
    content: "\f007";
    font-size: 0.8rem;
    -webkit-font-smoothing: antialiased;
  }

  .inputPassword {
    padding-bottom: 2%;
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: 0px;
    font-family: outfit;
    font-size: medium;
    color: #ffffff;
  }

  /*Agregue icono inputPassword*/
  .inputPassword::placeholder {
    color: rgba(255, 255, 255, 0.61);
    font: var(--fa-font-solid);
    content: "\f084";
    font-size: 0.8rem;
    -webkit-font-smoothing: antialiased;
  }

  .loginSubmit {
    height: 15%;
    border-radius: 40px;
    border: none;
    color: rgba(0, 0, 0, 0.63);
    background-color: rgba(245, 245, 245, 0.78);
    font-family: outfit;
    font-weight: 900;
    font-size: medium;
  }

  /* Sing up sección*/
  .signUpContainer {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .signupOption {
    color: rgba(255, 255, 255, 1);
    font-family: outfit;
    font-size: 0.8rem;
  }

  .signUpLines {
    height: 25%;
    width: 5em;
    margin: auto;
    border-top: thin solid rgba(255, 255, 255, 1);
  }

  /*Botones del login*/
  .loginButtonsContainer {
    width: 80%;
    margin-top: 2em;
    margin-right: 0%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  /*Estilo de todos los botones del login*/
  .loginButtons {
    height: 3.2em;
    width: 4.8em;
    padding: 2%;
    border: none;
    border-radius: 8px;
  }

  /*Imagen del botón de Google*/
  .googleImgButton {
    height: 1.8em;
    width: 1.8em;
  }

  /*Imagen del botón de Meta*/
  .MetaImgButton {
    height: 1.8em;
    width: 1.8em;
  }

  /*Imagen del botón de Apple*/
  .appleImgButton {
    height: 2.1em;
    width: 1.8em;
    margin-top: -8%;
  }

  /* Crear una cuenta y olvidar contraseña*/
  .accountAndPasswordContainer {
    width: 80%;
    margin: 8% 0% 0% 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3em;
  }

  .verticalLine {
    height: 125%;
    border-left: thin solid rgba(255, 255, 255, 1);
  }

  .accountAndPassword {
    margin-top: 1em;
    margin-right: 0%;
    color: rgba(255, 255, 255, 1);
    font-family: outfit;
    font-size: 0.8rem;
    text-decoration: none;
  }

  /* Create account styles */

  /*Contenedor create account*/
  .registerContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/backgroundregister.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /*Sección de flecha y create account*/
  .headerRegister {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-top: 0;
  }

  .backArrow {
    height: 2em;
    margin-right: 2%;
  }

  .registerTitle {
    color: #ffffff;
    font-family: bowlby one SC;
  }

  /*Formulario*/
  .registerForm {
    height: 60%;
    width: 73%;
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .inputNameRegister {
    padding-bottom: 2%;
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: 0px;
    color: #ffffff;
  }

  .inputNameRegister::placeholder {
    color: rgba(255, 255, 255, 0.61);
    font: var(--fa-font-solid);
    content: "\f084";
    font-size: 0.8rem;
    -webkit-font-smoothing: antialiased;
  }

  /*Check box*/
  .checkBoxContainer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: outfit;
  }

  .checkBox {
    margin: 2% 5% 0% 0%;
    background: rgba(245, 245, 245, 0.78);
  }

  .condition {
    font-family: outfit;
    color: rgba(255, 255, 255, 1);
  }

  /*Botón Sing up*/
  .signUpButton {
    height: 8%;
    border-radius: 40px;
    border: none;
    color: rgba(0, 0, 0, 0.63);
    background-color: rgba(245, 245, 245, 0.78);
    font-family: outfit;
    font-weight: 900;
    font-size: medium;
  }

  /*Página del post*/
  .postContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerPost {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logoHeader {
    height: 40%;
    width: 10%;
    margin-right: 1em;
    background-image: url(images/logoazul.png);
    background-size: cover;
  }

  .titlePost {
    margin: 0%;
    color: #6a88a4;
    font-family: bowlby one SC;
  }

  .createPostContainer {
    height: 30%;
    width: 100%;
    border-top: thin solid rgba(123, 130, 152, 0.22);
    border-bottom: thin solid rgba(123, 130, 152, 0.22);
  }

  .userPost {
    height: 40%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 8.5%;
  }

  .profilePhoto {
    height: 55%;
    width: 17%;
    border-radius: 100%;
    background-image: url(images/profileImage.png);
    background-size: cover;
  }

  .inputCreatePost {
    height: 40%;
    width: 65%;
    background: rgba(245, 245, 245, 0.13);
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0px 3px 8px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: outfit;
    font-size: medium;
    color: rgba(0, 0, 0, 0.4);
  }

  .inputCreatePost::placeholder {
    font-family: outfit;
    font-size: medium;
    color: rgba(0, 0, 0, 0.4);
  }

  .extraContainer {
    height: 20%;
    width: 76%; /* de 100 a 76*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 24%; /*nuevo*/
  }

  /*Nuevo*/
  .fa-image {
    color: #7b8298;
    opacity: 40%;
  }

  /*Nuevo*/
  .fa-location-dot {
    color: #7b8298;
    opacity: 40%;
    margin-left: -10%;
  }

  .goButton {
    height: 80%;
    width: 40%;
    background: linear-gradient(90deg, #02aab0 0%, #00cdac 100%);
    border-radius: 32px;
    border: none;
    color: #ffffff;
    font-family: outfit;
    font-size: medium;
  }

  .userPostContainer {
    height: 45%;
    width: 90%;
    margin-top: 1.5em;
    flex-flow: column wrap;
    background: rgba(245, 245, 245, 0.13);
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0px 3px 8px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    /*align-items: flex-end; /*Ojo que nos manda todo el contenido pa'bajo*/
  }

  .printContainer {
    height: 7%;
    width: 90%;
    margin-top: 1.5em;
    flex-flow: column wrap;
    background: rgba(245, 245, 245, 0.13);
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0px 3px 8px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .logoutContainer {
    height: 7%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
  }

  .logoutButton {
    height: 80%;
    width: 35%;
    background: rgba(202, 231, 234, 1);
    border-radius: 32px;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    font-family: outfit;
    font-size: medium;
    font-weight: bold;
  }
}
