@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Outfit:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700;900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

/*Contenedor creado desde el HTML*/
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/loginpicture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Contenedor con toda la información creada en el DOM*/
.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Contenedor con el logo y su título*/
.headerLogin {
  height: 30%;
  margin: 12% 0% 14% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoBlanco {
  height: 22%;
  width: 22%;
}

.logoTitle {
  color: #ffffff;
  font-family: bowlby one SC;
}

/*Formulario del login*/
.form {
  height: 30%;
  width: 73%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.inputMail {
  padding-bottom: 2%;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: 0px;
  font-family: outfit;
  font-size: medium;
  color: #ffffff;
}
/* Aquí se ven las imágenes pero cambia la fuente del placeholder */
.inputMail::placeholder {
  font-size: medium;
  color: #ffffffc4;
  /* font-family: "Font Awesome 5 Free";
  font-weight: 900; */
}

.inputPassword {
  padding-bottom: 2%;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: 0px;
  font-family: outfit;
  font-size: medium;
  color: #ffffff;
}

/* Aquí se ven las imágenes pero cambia la fuente del placeholder */
.inputPassword::placeholder {
  font-size: medium;
  color: #ffffffc4;
  /* font-family: "Font Awesome 5 Free";
  font-weight: 900; */
}

.loginSubmit {
  height: 15%;
  border-radius: 40px;
  border: none;
  color: rgba(0, 0, 0, 0.63);
  background-color: rgba(245, 245, 245, 0.78);
  font-family: outfit;
  font-weight: 900;
  font-size: medium;
}

/* Sing up sección*/

.signUpContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 80%;
}
.signupOption {
  color: rgba(255, 255, 255, 1);
  font-family: outfit;
  font-size: 0.8rem;
}

.signUpLines {
  border-top: thin solid rgba(255, 255, 255, 1);
  height: 25%;
  width: 5em;
  margin: auto;
}

/*Botones del login*/
.loginButtonsContainer {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
}

/*Botón de Google*/
.loginGoogleButton {
  height: 3.2em;
  width: 4.8em;
  border: none;
  border-radius: 8px;
}

/*Botón de Facebook*/
.loginFacebookButton {
  height: 3.2em;
  width: 4.8em;
  border: none;
  border-radius: 8px;
}

/*Botón de Apple*/
.loginAppleButton {
  height: 3.2em;
  width: 4.8em;
  border: none;
  border-radius: 8px;
}

/* Crear una cuenta y olvidar contraseña*/
.accountAndPasswordContainer {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  gap: 3em;
}

.verticalLine {
  border-left: thin solid rgba(255, 255, 255, 1);
  height: 125%;
}

.accountAndPassword {
  color: rgba(255, 255, 255, 1);
  font-family: outfit;
  font-size: 0.8rem;
  margin-top: 1em;
}
