@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Outfit:wght@300;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/*Contenedor creado desde el HTML*/
#root {
  background-image: url(images/loginpicture.jpg);
  width: 390px;
  height: 812px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Contenedor con toda la información creada en el DOM*/
.loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

/*Contenedor con el logo y su título*/
.headerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30%;
}

.logoBlanco {
  height: 28%;
  width: 25%;
}

.logoTitle {
  color: #ffffff;
  font-family: bowlby one SC;
}

/*Formulario del login*/
.form {
  display: flex;
  flex-direction: column;
  height: 30%;
}

.inputPassword {
  color: #ffffff;
}

.inputMail {
  color: #ffffff;
}

/*Botones del login*/
.loginButtonsContainer {
}

.loginSubmit {
}
